@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.masthead {
  background-color: #ccc;
  overflow: hidden;
}

h1 {
  text-align: center;
}

.nav li {
  list-style-type: none;
}

.nav a {
  text-decoration: none;
  color: teal;
}

.nav-footer {
  margin: 0;
  padding: 0;
}

.nav-footer li {
  list-style-type: none;
}

.nav-footer a {
  text-decoration: none;
  color: teal
}

img {
  display: block;
  width: 100%;
}

.intro {
  text-align: center;
  background-color: #e2e2e2;
}

.footer {
  background-color: #ccc;
  overflow: hidden;
}

.copyright {
  float: left;
}

@media only screen and (min-width: 25em) /** small **/ {
  .nav {
    text-align: center;
  }
  .nav li {
    display: inline;
  }
  .nav-footer li {
    display: inline;
  }
  .copyright {
    float: none;
    text-align: center;
  }
}

@media only screen and (min-width: 38em) /** medium **/{
  h1 {
    float: left;
    text-align: left;
  }
  .title, 
  .nav {
    float: left;
  }
  .header {
    overflow: hidden;
  }
  .copyright {
    float: left;
  }
  .nav-footer {
    float: right;
  }
}

@media only screen and (min-width: 60em) /** large **/{
  html {
  font-size: 110%;
  }
  .copyright {
    float: left;
  }
}

@media only screen and (min-width: 90em) {
  html {
  font-size: 120%;
  }
  .copyright {
    float: left;
  }
}

@media only screen and (min-width: 120em) {
  html {
  font-size: 130%;
  }
}